<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="barraSuperior">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/Admin/listaFunciones}">Funciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Todas las reservas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Cerrar sesion</a>
            </li>
        </ul>
    </th:block>
</body>
</html>